:root {
  --white:   #efefef;
  --gray:    #7b7979;
  --cyan:    #00adef;
  --magenta: #ec008c;
  --yellow:  #f5ef03;
  --black:   #231f20;
}

* { margin: 0; padding: 0; font-size: 1.2rem; font-family: "GillSansMT", "ABeeZee", sans-serif;}
body { color: var(--black); background-color: var(--white); }

/* document layout */
.header  { grid-area: header; }
.main    { grid-area: main; padding: 3em; }
.footer  { grid-area: footer; }
.container { display: grid; grid-template-columns: 100%; grid-template-rows: auto; grid-template-areas: "header" "main" "footer"; }

/* header */
.header .inner { border-bottom: 4px solid var(--black); padding: 1em; display: grid; grid-template-columns: 40% 60%; grid-template-rows: auto; grid-template-areas: "logo nav" "logo lang"; }
.header .inner .logo { grid-area: logo; display: flex; align-items: center; justify-content: center; }
.header .inner .nav  { grid-area: nav;  display: flex; align-items: flex-start; justify-content: flex-end; }
.header .inner .lang { grid-area: lang; display: flex; align-items: flex-end; justify-content: flex-end; }

.header .inner .logo img { width: 400px; }
.header .inner ul { list-style: none; display: block; }
.header .inner ul li { display: inline-block; }
.header .inner ul li a { display: inline-block; padding: .5em 1em; text-decoration: none; border-radius: 2em; text-transform: lowercase; }

/* main */
.main .inner { display: grid; grid-template-columns: 30% 70%; grid-template-rows: auto; grid-template-areas: "sidebar content"; }
.main .inner .sidebar { grid-area: sidebar; border-right: 4px solid var(--black); display: flex; align-items: center; justify-content: flex-end; padding-right: 3em; }
.main .inner .content { grid-area: content; padding-left: 3em; }
.main .inner .sidebar div { display: block; margin: 20px; }
.main .inner ul { list-style: none; display: block; }
.main .inner ul li a { display: block; padding: .5em 1em; margin-bottom: .2em; text-decoration: none; border-radius: 2em; text-transform: lowercase; }
.main .flow { display: flex; align-items: center; justify-content: center; flex-direction: column;}
.main .flow p { width: 80%; }
.main .flex { display: flex; justify-content: center; flex-wrap: wrap; }
.main .flow .images { text-align: center }
.main.contact .inner { grid-template-columns: 50% 50%; }
.main.contact .inner span { display: block; }
.main.contact .inner a { color: var(--cyan); text-decoration: none; }
.main.contact .inner a:hover { text-decoration: underline; }

/* footer */
.footer .inner { background-color: var(--gray); border-top: 4px solid var(--black); padding: 1em; display: grid; grid-template-columns: 50% 25% 25%; grid-template-rows: auto; grid-template-areas: "contact cert1 cert2"; }
.footer .inner .contact { grid-area: contact; display: flex; align-items: center; justify-content: center; }
.footer .inner .cert1   { grid-area: cert1;   display: flex; align-items: center; justify-content: center; }
.footer .inner .cert2   { grid-area: cert2;   display: flex; align-items: center; justify-content: center; }

.footer .inner ul { list-style: none; display: block; color: var(--white); }
.footer .inner ul li { padding: .2em; }
.footer .inner ul li a { color: var(--white); text-decoration: none; }
.footer .inner ul li a:hover { color: var(--white); text-decoration: underline; }
.footer .inner ul li img { vertical-align: middle; padding: 0 0.5em; }

/* typography */
h1 { display: inline-block; padding: .5em 1em; border-radius: 1em; background-color: var(--gray); color: var(--white); margin: 0 0 2em 0; }
h2 { margin: 0 0 2em 0; }
p  { padding: 0 0 2em 0; text-align: justify; }
ul { list-style-position: inside; }
dl { margin: 0 0 2em 0; }
dd { padding-left: 2em; }

/* buttons */
.btn:hover   { box-shadow: 4px 4px 4px var(--gray); transform: translate(-4px, -4px); }
.gray-btn    { background-color: var(--gray); color: var(--white); }
.cyan-btn    { background-color: var(--cyan); color: var(--white); }
.yellow-btn  { background-color: var(--yellow); color: var(--black); }
.magenta-btn { background-color: var(--magenta); color: var(--white); }
.black-btn   { background-color: var(--black); color: var(--white); }

/* circles */
.circle { display: inline-flex; width: 12rem; height: 12rem; border-radius: 50%; margin: 1em; background-position: center; background-size: cover; box-shadow: 4px 4px 4px var(--gray); align-items: center; justify-content: center; text-decoration: none; }
.circle:hover { box-shadow: 8px 8px 8px var(--gray); transform: translate(-4px, -4px); }
.circle span { background-color: var(--gray); color: var(--white); padding: .5em; border-radius: 1em; text-transform: lowercase; display: inline-block; text-align: center; font-size: .8em; }
.circle.packaging1        { background-image: url('../images/image02.png'); }
.circle.packaging2        { background-image: url('../images/image11.png'); }
.circle.boxes1            { background-image: url('../images/image23.png'); }
.circle.boxes2            { background-image: url('../images/image24.png'); }
.circle.boxes3            { background-image: url('../images/image20.png'); }
.circle.books1            { background-image: url('../images/image28.png'); }
.circle.books2            { background-image: url('../images/image34.png'); }
.circle.advertisment1     { background-image: url('../images/image29.png'); }
.circle.advertisment2     { background-image: url('../images/image06.png'); }
.circle.advertisment3     { background-image: url('../images/image35.png'); }
.circle.advertisment4     { background-image: url('../images/image46.png'); }
.circle.calendars1        { background-image: url('../images/image33.png'); }
.circle.calendars2        { background-image: url('../images/image37.png'); }
.circle.calendars3        { background-image: url('../images/image36.png'); }
.circle.displays1         { background-image: url('../images/image47.png'); }
.circle.displays2         { background-image: url('../images/image38.png'); }
.circle.displays3         { background-image: url('../images/image12.png'); }
.circle.office_supplies1  { background-image: url('../images/image30.png'); }
.circle.office_supplies2  { background-image: url('../images/image39.png'); }
.circle.office_supplies3  { background-image: url('../images/image13.png'); }
.circle.laminating1       { background-image: url('../images/image22.png'); }
.circle.laminating2       { background-image: url('../images/image41.png'); }
.circle.uv_paint1         { background-image: url('../images/image32.png'); }
.circle.uv_paint2         { background-image: url('../images/image40.png'); }
.circle.blister1          { background-image: url('../images/image07.png'); }
.circle.blister2          { background-image: url('../images/image45.png'); }
.circle.digital_printing1 { background-image: url('../images/image26.png'); }
.circle.digital_printing2 { background-image: url('../images/image44.png'); }
.circle.digital_printing3 { background-image: url('../images/image43.png'); }
.circle.others1           { background-image: url('../images/image27.png'); }
.circle.others2           { background-image: url('../images/image03.png'); }
.circle.others3           { background-image: url('../images/image42.png'); }
.circle.cert              { background-image: url('../images/image21.png'); }

/* responsive design */
@media only screen and (max-width: 1020px) {
  .header .inner { grid-template-columns: 100%; grid-template-areas: "logo" "nav" "lang"; }
  .header .inner .nav  { align-items: center; justify-content: center; padding: 1em 0; }
  .header .inner .lang { align-items: center; justify-content: center; padding: 1em 0; }
  .main { padding: 2em; }
  .main .inner .content { padding-left: 2em; }
  .main .inner .sidebar { padding-right: 1em; }
  .footer .inner { grid-template-columns: 100%; grid-template-areas: "contact" "cert1" "cert2"; }
}

@media only screen and (max-width: 660px) {
  .header .inner ul li a { padding: .2em .4em; border-radius: 1em; }
  .main { padding: 1em; }
  .main .inner .content { padding-left: 1em; }
  .main .inner .sidebar { padding-right: 1em; }
  .main.contact .inner { grid-template-columns: 100%; grid-template-areas: "sidebar" "content"; }
  .main.contact .inner .sidebar { display: block; border: none; margin: 0 0 1em 0; }
}

@media only screen and (max-width: 500px) {
  * { font-size: 1em; }
  .header .inner .logo img { width: 100%; }
  .header .inner .nav ul li { display: block; text-align: center; margin: 2px 0; }
  .header .inner .nav ul li a { display: block; }
  .main .inner { grid-template-columns: 100%; grid-template-areas: "content"; }
  .main .inner .sidebar { display: none; }
  .main .inner .content { padding: 0; }
  .footer .inner .contact ul li img { display: none; }
  .main .flow p { width: 100%; }
  .main.offer .inner { grid-template-columns: 100%; grid-template-areas: "sidebar" "content"; }
  .main.offer .inner .sidebar { display: block; border: none; margin: 0 0 1em 0; }
}
