/* https://coolors.co/d41317-114b5f-37392e-028090-fcfcfc */
:root {
  --black:  #37392E;
  --gray:   #FCFCFC;
  --navy:   #D41317;
  --orange: #114B5F;
  --blue:   #028090;
}

body, html                { height: 100%; margin: 0; font-family: 'Lato', sans-serif; font-size: 1.2em; background-color: var(--gray); }
a                         { color: var(--blue); text-decoration: none; }
a:hover                   { text-decoration: underline; }
section                   { padding: 4em; color: var(--black); }
section p                 { text-align: justify; }
section address i         { width: 2em; }
section address           { margin-bottom: 2em; }
section h2                { color: var(--navy); }
nav                       { background-color: var(--navy); overflow: hidden; }
nav a                     { float: left; height: 1.4em; display: block; color: var(--gray); text-align: center; padding: .5em; text-decoration: none; }
nav a.active, nav a:hover { background-color: var(--orange); color: var(--gray); text-decoration: none; }
nav .icon                 { display: none; }
nav a.logo                { padding: 0; }
nav a.logo img            { height: 2.4em; }
figure                    { display: flex; justify-content: center; align-items: center; }

.parallax-0 { background-image: url('../images/banner.jpg'); height: 100vh; background-size: contain; }
.parallax-1 { background-image: url('../images/09.jpg'); height: 50vh; background-size: cover; }
.parallax-2 { background-image: url('../images/10.jpg'); height: 50vh; background-size: cover; }
.parallax-3 { background-image: url('../images/11.jpg'); height: 50vh; background-size: cover; }
.parallax-4 { background-image: url('../images/12.jpg'); height: 50vh; background-size: cover; }
.parallax   { background-attachment: fixed; background-position: center; background-repeat: no-repeat; }
.grid       { display: flex; flex-wrap: wrap; justify-content: space-between; }
.grid-item  { width: 25%; height: 225px; object-fit: cover; }

@media screen and (max-width: 900px) {
  nav a:not(:first-child) { display: none; }
  nav a.icon              { float: right; display: block; }
  nav.responsive          { position: relative; }
  nav.responsive a.icon   { position: absolute; right: 0; top: 0; }
  nav.responsive a        { float: none; display: block; text-align: left; }
  nav.responsive a.logo   { height: 2.4em; }
  section                 { padding: 2em; }
  .grid-item              { width: 33.333%; }
}

@media only screen and (max-device-width: 1366px) {
  .parallax { background-attachment: scroll; }
}
