:root {
  --white:   #efefef;
  --gray:    #7b7979;
  --cyan:    #00adef;
  --magenta: #ec008c;
  --yellow:  #f5ef03;
  --black:   #231f20;
}

* { margin: 0; padding: 0; font-size: 1.2rem; font-family: "GillSansMT", "ABeeZee", sans-serif;}
body { color: var(--black); background-color: var(--white); }

/* document layout */
.header  { grid-area: header; }
.main    { grid-area: main; padding: 3em; }
.footer  { grid-area: footer; }
.container { display: grid; grid-template-columns: 100%; grid-template-rows: auto; grid-template-areas: "header" "main" "footer"; }

/* header */
.header .inner { border-bottom: 4px solid var(--black); padding: 1em; display: grid; grid-template-columns: 40% 60%; grid-template-rows: auto; grid-template-areas: "logo nav" "logo lang"; }
.header .inner .logo { grid-area: logo; display: flex; align-items: center; justify-content: center; }
.header .inner .nav  { grid-area: nav;  display: flex; align-items: flex-start; justify-content: flex-end; }
.header .inner .lang { grid-area: lang; display: flex; align-items: flex-end; justify-content: flex-end; }

.header .inner .logo img { width: 400px; }
.header .inner ul { list-style: none; display: block; }
.header .inner ul li { display: inline-block; }
.header .inner ul li a { display: inline-block; padding: .5em 1em; text-decoration: none; border-radius: 2em; text-transform: lowercase; }

/* main */
.main .inner { display: grid; grid-template-columns: 30% 70%; grid-template-rows: auto; grid-template-areas: "sidebar content"; }
.main .inner .sidebar { grid-area: sidebar; border-right: 4px solid var(--black); display: flex; align-items: center; justify-content: flex-end; padding-right: 3em; }
.main .inner .content { grid-area: content; padding-left: 3em; }
.main .inner .sidebar img { display: block; margin: 20px; height: 250px; }
.main .inner ul { list-style: none; display: block; }
.main .inner ul li a { display: block; padding: .5em 1em; margin-bottom: .2em; text-decoration: none; border-radius: 2em; text-transform: lowercase;  background-color: var(--gray); color: var(--white); }
.main .flow { display: flex; align-items: center; justify-content: center; flex-direction: column;}
.main .flow p { width: 80%; }
.main .flex { display: flex; justify-content: center; flex-wrap: wrap; }
.main .flex img { width: 250px; margin: 1em; }
.main .flow .images { text-align: center }

/* footer */
.footer .inner { background-color: var(--gray); border-top: 4px solid var(--black); padding: 1em; display: grid; grid-template-columns: 50% 25% 25%; grid-template-rows: auto; grid-template-areas: "contact cert1 cert2"; }
.footer .inner .contact { grid-area: contact; display: flex; align-items: center; justify-content: center; }
.footer .inner .cert1   { grid-area: cert1;   display: flex; align-items: center; justify-content: center; }
.footer .inner .cert2   { grid-area: cert2;   display: flex; align-items: center; justify-content: center; }

.footer .inner ul { list-style: none; display: block; color: var(--white); }
.footer .inner ul li { padding: .2em; }
.footer .inner ul li img { vertical-align: middle; padding: 0 0.5em; }

/* typography */
h1 { display: inline-block; padding: .5em 1em; border-radius: 1em; background-color: var(--gray); color: var(--white); margin: 0 0 2em 0; }
h2 { margin: 0 0 2em 0; }
p  { padding: 0 0 2em 0; text-align: justify; }
ul { list-style-position: inside; }
dl { margin: 0 0 2em 0; }
dd { padding-left: 2em; }

/* buttons */
.cyan-btn    { background-color: var(--cyan); color: var(--white); }
.yellow-btn  { background-color: var(--yellow); color: var(--black); }
.magenta-btn { background-color: var(--magenta); color: var(--white); }
.black-btn   { background-color: var(--black); color: var(--white); }

/* responsive design */
@media only screen and (max-width: 1020px) {
  .header .inner { grid-template-columns: 100%; grid-template-areas: "logo" "nav" "lang"; }
  .header .inner .nav  { align-items: center; justify-content: center; padding: 1em 0; }
  .header .inner .lang { align-items: center; justify-content: center; padding: 1em 0; }
  .main { padding: 2em; }
  .main .inner .content { padding-left: 2em; }
  .main .inner .sidebar { padding-right: 2em; }
  .footer .inner { grid-template-columns: 100%; grid-template-areas: "contact" "cert1" "cert2"; }
}

@media only screen and (max-width: 560px) {
  .header .inner ul li a { padding: .2em .4em; border-radius: 1em; }
  .main { padding: 1em; }
  .main .inner .content { padding-left: 1em; }
  .main .inner .sidebar { padding-right: 1em; }
}

@media only screen and (max-width: 450px) {
  .header .inner .logo img { width: 100%; }
  .header .inner .nav ul li { display: block; text-align: center; margin: 2px 0; }
  .header .inner .nav ul li a { display: block; }
  .main .inner { grid-template-columns: 100%; grid-template-areas: "content"; }
  .main .inner .sidebar { display: none; }
  .main .inner .content { padding: 0; }
  .footer .inner .contact ul li img { display: none; }
  .main .flow p { width: 100%; }
}
